<div class=userIndex>
    <h1 class="friendRequestsTitle"> Received Friend Requests </h1>

    <div class="friendRequests">
        <% if !@list_of_received_friend_requests.empty? %>
            <% @list_of_received_friend_requests.each do |request| %>
                <span class="name"><b> <%= User.find_by(:id => request.requestor_id).name %> </b></span>
                <%= link_to "Accept", friends_path(:friend_id => request.requestor_id), method: :post %>
                <%= link_to "Decline", friend_request_path(:id => request.id, :requestor_id => request.requestor_id), method: :delete %>
            <% end %>
        <% end %>
    </div>

    <h1 class="friendsTitle"> Friends </h1>

    <div class="friends">
        <% if !@list_of_friends.empty? %>
            <% @list_of_friends.each do |friend| %>
                <%= link_to "#{User.find_by(:id => friend.friend_id).name}", user_path(User.find_by(:id => friend.friend_id).id),:class => 'name' %>
                <%= link_to "Delete friend", friend_path(:id => friend.id, :friend_id => friend.friend_id), method: :delete %>
                <br>
            <% end %>
        <% end %>
    </div>

    <h1 class="otherUsersTitle"> Other Users </h1>

    <div class="otherUsers">
        <% if !@special_list.empty? %>
            <% @special_list.each do |x| %>
                <%= link_to "#{x.name}", user_path(x.id), :class => 'name' %>

                <%= form_with model: @friend_request, url: friend_requests_path, local: true do |f| %>

                    <%= f.hidden_field :requestee_id, value: x.id %>

                    <%= f.submit "Send friend request." %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>