<h2> Received Friend Requests </h2>

<% if !@list_of_received_friend_requests.empty? %>
    <% @list_of_received_friend_requests.each do |request| %>
        <b> <%= User.find_by(:id => request.requestor_id).name %> </b>
        <%= link_to "Accept", friends_path(:friend_id => request.requestor_id), method: :post %>
        <%= link_to "Decline", friend_request_path(:id => request.id, :requestor_id => request.requestor_id), method: :delete %>
    <% end %>
<% end %>

<h2> Friends </h2>

<% if !@list_of_friends.empty? %>
    <% @list_of_friends.each do |friend| %>
        <%= User.find_by(:id => friend.friend_id).name %>
        <%= link_to "Delete friend", friend_path(:id => friend.id, :friend_id => friend.friend_id), method: :delete %>
    <% end %>
<% end %>

<h2> Other Users </h2>

<% if !@special_list.empty? %>
    <% @special_list.each do |x| %>
        <%= link_to "#{x.name}", user_path(x.id) %>

        <%= form_with model: @friend_request, url: friend_requests_path, local: true do |f| %>

            <%= f.hidden_field :requestee_id, value: x.id %>

            <%= f.submit "Send friend request." %>
        <% end %>
    <% end %>
<% end %>