<div class="userShow">
    <h1 class="pageTitle"> <%= @user.name %> </h1>

    <p>
        <%= link_to "Edit Account", edit_user_registration_path %>
    </p>
    <br>

    <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar, :class => "profilePic") %>
    <% else %>
        <%= image_tag("default_profile.jpg", :class => "profilePic") %>
    <% end %>

    <% if current_user.id != @user.id && !already_a_friend(@user.id) && !already_sent_a_request(@user.id) %>
        <%= form_with model: @friend_request, url: friend_requests_path, local: true do |f| %>

            <%= f.hidden_field :requestee_id, value: @user.id %>

            <%= f.submit "Send friend request.", :class => 'friendRequestBtn' %>
        <% end %>
    <% end %>

    <hr>

    <section class="posts">
        <% @list_of_posts.each do |post| %>
            <article class="post">
                <%= link_to "#{post.title}", user_post_path(post.user.id, post.id), :class => 'title' %>
                <br>
                <p class="content"><%= post.content %></p>
                <hr>
            </article>
        <% end %>
    </section>
</div>