<h1> <%= @user.name %> </h1>

<% if current_user.id != @user.id && !already_a_friend(@user.id) && !already_sent_a_request(@user.id) %>
    <%= form_with model: @friend_request, url: friend_requests_path, local: true do |f| %>

        <%= f.hidden_field :requestee_id, value: @user.id %>

        <%= f.submit "Send friend request." %>
    <% end %>
<% end %>

<hr>

<section>
    <% @list_of_posts.each do |post| %>
        <article>
            <b> <%= post.title %> </b>
            <br> <br>
            <%= post.content %>
            <br> <br>
            <i> Author: <%= post.user.name %> </i> <hr>
        </article>
    <% end %>
</section>