<div class="postNew">
    <h1 class="pageTitle"> Create a New Post </h1>
    <%= form_with model: @post, url:  user_posts_path, local: true do |f| %>
        <div class="postTitle">
            <%= f.label :title, "Title" %>
            <br>
            <%= f.text_field :title %>
            <br>
        </div>

        <div class="postContent">
            <%= f.label :content, "Content" %>
            <br>
            <%= f.text_area :content, rows:15, cols:80 %>
            <br>
            <%= f.label :picture %><br />
            <%= f.file_field :picture, :class => 'browseBtn' %>
        </div>

        <%= f.submit "Post", :class => 'submitBtn' %>
    <% end %>
</div>